 <html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {  
        var trump = <%= @trump %>
        var clinton = <%= @clinton %>
        var data = new google.visualization.DataTable()
          data.addColumn('number', 'Tweets')
          data.addColumn('number', 'Clinton')
          data.addColumn('number', 'Trump')
          
          data.addRows([
            [0, 0, 0],
            [1, clinton, trump]
            ])        

        var options = {
          title: 'Tweets involving each candidate',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    Number of seconds: <%= @seconds %>
    <div id="curve_chart" style="width: 1000px; height: 500px"></div>
  </body>
</html>